@font-face {
  font-family: "Aurora Round";
  src: url("/fonts/AuroraRound.woff2") format("woff2"),
    url("/fonts/AuroraRound.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aurora";
  src: url("/fonts/Aurora-Bold.woff2") format("woff2"),
    url("/fonts/Aurora-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aurora";
  src: url("/fonts/Aurora.woff2") format("woff2"),
    url("/fonts/Aurora.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aurora";
  src: url("/fonts/Aurora-SemiBold.woff2") format("woff2"),
    url("/fonts/Aurora-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
