@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./fonts.css");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-custom {
  background-color: #f6f5f1;
}
.bg-custom1 {
  background-color: #efece7;
}

.bg-custom2 {
  background-color: #0a454d;
}

/* @font-face {
  font-family: "Harmony";
  src: url("C:/Users/LGND/Desktop/pristine-next/fonts/Harmony.otf");
} */

.hero-font {
  /* font-family: "Harmony", serif; */
  font-weight: 100;
}

@media (min-width: 1024px) {
  .object-position {
    object-position: 0 -10rem;
  }
}
